
# Which docker-compose file to use by default
COMPOSE_FILE=docker-compose.yaml

# Command line for docker-compose.
# You may need to modify it, as some Docker confugurations use "docker compose" configuration.
#COMPOSE_CL="docker compose"
COMPOSE_CL="docker-compose"

# docker-compose stack name
COMPOSE_PROJECT_NAME=ledgerforge

# LedgerForge project name
LEDGERFORGE_PROJECT_NAME=LedgerForge

# Timezone
TZ=Etc/UTC

# Server details
LEDGERFORGE_SERVER_SSL_DOMAIN=
LEDGERFORGE_SERVER_SSL_EMAIL=
LEDGERFORGE_SERVER_SSL=
LEDGERFORGE_SERVER_PORT=
LEDGERFORGE_ENABLE_TELEMETRY=false
LEDGERFORGE_TELEMETRY_KEY=
LEDGERFORGE_TELEMETRY_ENDPOINT=

# DNS details
LEDGERFORGE_DATA_SOURCE_DNS=
LEDGERFORGE_REDIS_DNS=

# Postgres credentials
#POSTGRES_IMAGE=postgres:latest
POSTGRES_IMAGE=postgres:alpine3.19 #alphine version is smaller in size
POSTGRES_CONTAINER=pg_server
POSTGRES_OUTER_PORT=5432
POSTGRES_INNER_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD={POSTGRES_PASSWORD}
POSTGRES_DB=ledgerforge
POSTGRES_SCHEMA=ledgerforge
